<form #challengeForm="ngForm" (ngSubmit)="createChallenge(challengeForm)">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Challenge Step 1 -->
      <div class="modal-header">
        <h4>Challenge Creation: Title and Game Selection</h4>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <label for="inputTitle" class="control-label">Title</label>
          <input type="text" class="form-control" id="inputTitle" placeholder="Challenge Title" autocomplete="off" ngModel name="title" #challengeTitle="ngModel">
        </div>

        <div class="form-group">
          <label for="inputGame" class="control-label">Select Game</label>
          <input type="text" class="form-control" id="inputGame" placeholder="Select game" autocomplete="off" ngModel name="game" #challengeGame="ngModel">
        </div>

        <div class="form-group">
          <label for="inputObjective" class="control-label">Objective</label>
          <input type="text" class="form-control" name="objective" ngModel #objective="ngModel" id="inputObjective">
        </div>

        <div class="form-group">
          <label for="inputChallengeGoal" class="control-label">Challenge Goal</label>
          <input type="text" class="form-control" id="inputChallengeGoal" name="goal" ngModel #challengeGoal="ngModel">
        </div>

        <div class="form-group">
          <label for="inputParticipants" class="control-label">Participants</label>
          <input type="text" class="form-control" id="inputParticipants" name="participants" ngModel #challengeParticipants="ngModel">
        </div>

        <div class="form-group">
          <label for="inputPlacements" class="control-label">Placements</label>
          <input type="text" class="form-control" id="inputPlacements" name="placements" ngModel #challengePlacements="ngModel">
        </div>

        <div class="form-group">
          <label for="inputRewards" class="control-label">Rewards</label>
          <input type="text" class="form-control" id="inputRewards" name="rewards" ngModel #challengeRewards="ngModel">
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-primary" type="submit" name="createChallenge">Create <i class="fa fa-arrow-circle-right"></i></button>
      </div>
    </div>
  </div>
</form>
