<section class="connections-list">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="connections-heading-container">
        <h3 class="module-names">Friends <span class="badge">14</span></h3>
        <form class="navbar-form navbar-right" role="search">
          <app-friend-search></app-friend-search>
        </form>
      </div>
    </div>

    <div class="list-group" id="friends-list-group">
      <article class="list-group-item" id="friend-tile" *ngIf="friends">
        <div class="top-friend-items">
          <img id="friendImageSpot" src="{{friend?.image}}">
          <h5 id="friendUsernameSpot" class="list-group-item-heading">{{friend?.username}}</h5>
          <button id="friendOptionsSpot" class="btn btn-default btn-xs"><i class="fa fa-ellipsis-h"></i></button>
        </div>
        <div class="bottom-friend-items">
          <p id="friendStatusSpot" class="btn btn-success btn-xs">{{friend?.status}}</p>
        </div>
      </article>
    </div>

    <ul class="nav nav-pills">
      <li><button class="btn btn-default btn-xs">Online <span class="badge">{{friends?.online}}</span></button></li>
      <li><button class="btn btn-default btn-xs">Group <span class="badge">{{group?.onlineMembers}}</span></button></li>
      <li><button class="btn btn-default btn-xs">All Friends <span class="badge">{{friends?.allFriends}}</span></button></li>
      <li><button class="btn btn-default btn-xs">Legion <span class="badge">{{legion?.onlineMembers}}</span></button></li>
    </ul>

    <!-- Add in the tabs for group, legion, and online -->
    <!-- Add in the functionality for switching between the tabs -->
  </div>
</section>
