<div class="panel panel-info">
  <div class="panel-heading" id="activity-feed-header">
    <h3 class="module-names" id="activity-feed-title">Activity Feed</h3>
    <button class="btn btn-default-xs" id="create-post"><i class="fa fa-pencil-square-o"></i></button>
    <button class="btn btn-default-xs" id="gameplay-post"><i class="fa fa-map"></i></button>
    <button class="btn btn-default-xs" id="video-post"><i class="fa fa-video-camera"></i></button>
    <activity-search></activity-search>
  </div>

  <ul id="domain_activity_stream" class="activity-stream"></ul>
</div>
