<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <div class="btn-group-vertical">
        <button class="btn btn-default">All</button>
        <button class="btn btn-default">Friends</button>
        <button class="btn btn-default">Chat</button>
        <button class="btn btn-default">Legion</button>
        <button class="btn btn-default">Events</button>
      </div>
    </div>

    <div class="modal-body">
      <p>Some content</p>
    </div>
  </div>
</div>
